<%= form_for @review, url: {action: :create } do |f| %>
    <p>
    <%= f.label :text, 'レビュー' %>
    <%= f.text_area :text %>
    <%= f.hidden_field :attraction_id %>
    <%= f.hidden_field :user_id %>
    </p>
    <%= f.submit '決定' %>
<% end %>