<%= form_for @review, url: {action: :create } do |f| %>
    <p>
    <%= f.label :review, 'レビュー' %>
    <%= f.text_area :review %>
    <%= f.hidden_field :attraction_id%>
    </p>
    <%= f.submit '決定' %>
<% end %>