<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% if session[:login_uid] %>
    <% if User.find_by(name: session[:login_uid]).owner %>
        <%= link_to '投稿', new_attraction_path(user_id: User.find_by(name: session[:login_uid]).id) %>
    <% end %>
<% end %>


<%= link_to '検索・並び替え', '/attraction/search' %>

<% @attractions.each do |item| %>
<% contributor = User.find_by(id: item.user_id)  %>
<div class = "index_content">
    <div>
        <% if contributor.icon.nil? %>
            <%= image_tag 'アイコン.jpg', class: "icon" %>
         <% else %>
            <%= image_tag "/get_image/#{contributor.id}", class: "icon" %>
         <% end %>
        <%= contributor.name %>さん
    </div>
    <%= item.name %><br>
    <%= image_tag "/get_picture1/#{item.id}", class: "index_photo" %>
    <br>
    <%= link_to '閲覧', attraction_path(item.id) %>
</div>
<% end %>