<p>
    <%= @attraction.name %>
</p>
<p>
    <%#= アイコン %>
    <%#= ユーザー名 %>
    <%= @attraction.time %>
</P>
<p>
    <%= @attraction.prefecture %>　　
    <% genres = @attraction.genre %>
    <% tmp = genres.split('"').each_slice(2).map(&:last) %>
    <% tmp.pop %>
    <% tmp.each do |genre| %>
        <%= genre %>
    <% end %>
</P>
<p>
    <%= @attraction.text %>
</P>
<p>
    <%#画像関係の処理%>
</P>
<p>
    <%= @attraction.address %>
</P>
<p>
    <%= @attraction.open_time %>
</P>
<p>
    <%= @attraction.url %>
</P>
<p>
    <%= @attraction.contact %>
</P>

<%= link_to "編集", edit_attraction_path(@attraction.id) %>

<%= "レビュー" %><br>
<% @review.each do |review| %>
    <%= "アイコン君" %>
    <%= User.find(review.user_id).name %>
    <%= review.text %>
    <%= review.time %>
    <br>
<% end %>
<%= link_to "レビューを投稿する", new_review_path(attraction_id:  @attraction.id, user_id: User.find_by(name: session[:login_uid]).id) %>
