<p>
    <%= @attraction.name %>
</p>
<p>
    <%= @attraction.user_id %>
    <%#= ユーザー名 %>　
    <%= @attraction.time %>
</P>
<p>
    <%# if user = User.find_by(id: session[:login_uid]) and @attraction.user_id == user.id %>
            <%#= link_to '投稿を削除', attraction_path(@attraction) , method: :delete %>
    <%# end %>
<p>
    <%= @attraction.prefecture %>　　
    <% genres = @attraction.genre %>
    <% tmp = genres.split('"').each_slice(2).map(&:last) %>
    <% tmp.pop %>
    <% tmp.each do |genre| %>
        <%= genre %>
    <% end %>
</P>
<p>
    <%= @attraction.text %>
</P>
<p>  
    <% if not @attraction.picture1.nil? %>
        <%= image_tag "/get_picture1/#{@attraction.id}" %>
    <% end %>
    <% if not @attraction.picture2.nil? %>
        <%= image_tag "/get_picture2/#{@attraction.id}" %>
    <% end %>
    <% if not @attraction.picture3.nil? %>
        <%= image_tag "/get_picture3/#{@attraction.id}" %>
    <% end %>
    <% if not @attraction.picture4.nil? %>
        <%= image_tag "/get_picture4/#{@attraction.id}" %>
    <% end %>
    <% if not @attraction.picture5.nil? %>
        <%= image_tag "/get_picture5/#{@attraction.id}" %>
    <% end %>
    <% if not @attraction.picture6.nil? %>
        <%= image_tag "/get_picture6/#{@attraction.id}" %>
    <% end %>
</P>
<p>
    <%= @attraction.address %>
</P>
<p>
    <%= @attraction.open_time %>
</P>
<p>
    <%= @attraction.url %>
</P>
<p>
    <%= @attraction.contact %>
</P>

<p>
<%= link_to "編集", edit_attraction_path(@attraction.id) %>
</P>

<%= "レビュー" %><br>
<% @review.each do |review| %>
    <%= "アイコン君" %>
    <%= User.find(review.user_id).name %>
    <%= review.text %>
    <%= review.time %>
    <br>
<% end %>

<%= link_to "レビューを投稿する", new_review_path(attraction_id:  @attraction.id, user_id: User.find_by(name: session[:login_uid]).id) %>