<meta charset="utf-8" />

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<p>
    <% if @user.icon.nil? %>
            <%= image_tag 'アイコン.jpg', id: "icon_profile" %>
          <% else %>
            <%= image_tag "/get_image/#{@user.id}", id: "icon_profile" %>
          <% end %>
</p>
<%= @user.name %><br>
<%= @user.profile %><br>
<% if session[:login_uid] == @user.name%>
    <%= link_to "戻る", root_path %>
    <%= link_to "編集", edit_user_path(@user.name) %>
<% else %>
    <%= link_to "戻る", :back %>
<% end %>