<!DOCTYPE html>
<html>
  <head>
    <title>Burarimon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <% if session[:login_uid] %>
            <%= link_to user_path(current_user.name) do %>
              <% if current_user.icon.nil? %>
                <%= image_tag 'アイコン.jpg', class: "icon"%>
              <% else %>
                <%= image_tag "/get_image/#{current_user.id}", class: "icon" %>
              <% end %>
              <%= current_user.name %>さん
            <% end %>
          <%= link_to 'ログアウト', user_index_path %>
          <%= link_to "プロフィール", user_path(session[:login_uid])  %>
      <% else %>
          <%= link_to 'ログイン', user_index_path %>
      <% end %>
      <%= link_to 'トップページへ', root_path %>
      <hr>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
