<!DOCTYPE html>
<html>
  <head>
    <title>Burarimon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      ああああああ
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
